
#main_container{
	height: 100%;
}

#svg_container{
	position: fixed;
	top: 0;
	transition: opacity 1s;
	// Small screen
	@media screen and (max-width: 30em) {
		width: 80%;
		margin-left: 10%; margin-right: 10%;
	}
	// Medium screen
	@media screen and (min-width: 30em) and (max-width: 60em) {
		width: 60%;
		margin-left: 20%; margin-right: 20%;
	}
	// Large screen
	@media screen and (min-width: 60em) {
		width: 40%;
		margin-left: 20%; margin-right: 20%;
	}
}


#svg_wrapper{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
